      <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Sistema prueba ITAKA Ltda</h5>
                <p class="grey-text text-lighten-4">Este modulo fue desarrollado como complemento a oferus sales para el cliente ITAKA Ltda.</p>
                <h5 class="white-text">Sitios webs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.i-taka.cl/index.php/en/">ITAKA ltda.</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.oferussales.com/">Oferus Sales</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Teléfono</h5>
                <ul>
                  <li class="grey-text text-lighten-3" ><strong>Tel: </strong> +569 8741 1528</li>
                </ul>
                <h5 class="white-text">Dirección</h5>
                <ul>
                  <li class="grey-text text-lighten-3" >Ana María Carrera 5210, Las Condes. Santiago-Chile</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
      </footer>

</body>
</html>
