<div class="col s12 m12 l9 white-text"> <!-- Note that "m8 l9" was added -->
<div class="divider"></div>
<div>
    <h5 class="center-align">M칩dulo ITAKA</h5>
    <div class="divider"></div>
    <div class="card-panel teal">
	    <h6>Este m칩dulo de prueba fue dise침ado particularmente para ITAKA,  el presente m칩dulo permite:
	    </h6> 
	    <ol>
	    	<li> Cargar clientes desde ERP o localmente. </li>
	    	<li> Cargar productos desde ERP o localmente. </li>
	    	<li> Ver lista de clientes. </li>
	    	<li> Ver lista de productos. </li>
	    	<li> Ingresar nota de venta a ERP. </li>
	    	<li> Ver lista de notas de venta. </li>
	    	<li> Buscar en ERP productos por SKU. </li>
	    </ol>	
    </div>
</div>
</div>
  
    