<div class="row grey darken-4">
       <div class="navoferus col m3 l3 grey darken-4 white-text"> <!-- Note that "m4 l3" was added --> 
        <div class="divider"></div>
        <div class="section">
          <a href="<%= clients_path %>"><h6 class="center-align">Clientes</h6></a>
        </div>
        
        <div class="divider"></div>
        <div class="section">
          <a href="<%= products_path%>"><h6 class="center-align">Productos</h6></a>
        </div>

        <div class="divider"></div>
        <div class="section">
          <a href="<%= sale_notes_path %>"><h6 class="center-align">Nota de Venta</h6></a>
        </div>
        <div class="divider"></div>
      </div>
